body {
    background: rgb(243 244 246);
    --font-family: "DejaVu Sans Mono";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
}

h1  {
    margin: 0;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input {
    border: none;
    padding: 0.7em;
    border-radius: 5px;

}

.shortener__container {
    width: 100%;
    max-width: 30em;
    background: white;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    font-family: var(--font-family);
}

form > input[type=submit] {
    font-family: var(--font-family);
}

form > input[type=text] {
    border: 1px solid darkgray;
    flex: 1;
}

.shortener__form {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
}

.shortener__header {
    margin: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

